<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LGX-AMS</title>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>

    <link href="/img/icons/favicon2.ico" rel="Shortcut Icon" type="image/x-icon"/>
    <link rel="stylesheet" href="/xadmin/css/font.css" th:href="@{/xadmin/css/font.css}">
    <link rel="stylesheet" href="/xadmin/css/xadmin.css" th:href="@{/xadmin/css/xadmin.css}">
    <script type="text/javascript" src="/xadmin/lib/layui/layui.js" charset="utf-8"
            th:src="@{/xadmin/lib/layui/layui.js}"></script>
    <script type="text/javascript" src="/xadmin/js/xadmin.js" th:src="@{/xadmin/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="layui-fluid">
    <div class="location" style="font-size:1.3em;">
        <strong>你现在所在的位置是:</strong>
        <span>个人信息</span>
    </div>
    <div class="layui-row">
        <form class="layui-form"  enctype="multipart/form-data">
            <input type="text" style="visibility: hidden;" th:value="${session.loginUser.userId}" id="uid" name="uid"/>
            <div class="layui-form-item">
                <label for="userName" class="layui-form-label">用户昵称</label>
                <div class="layui-input-inline">
                    <input type="text" id="userName" name="userName" th:placeholder="${user.getUserName()}" required=""
                           lay-verify="required" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="userLoginName" class="layui-form-label"><span class="x-red">*</span>用户登录名</label>
                <div class="layui-input-inline">
                    <input type="text" id="userLoginName" name="userLoginName" th:placeholder="${user.getUserLoginName()}" required=""
                           lay-verify="required" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="userPassword" class="layui-form-label"><span class="x-red">*</span>用户密码</label>
                <div class="layui-input-inline">
                    <input type="text" id="userPassword" name="userPassword" th:placeholder="${user.getUserPassword()}" required=""
                           lay-verify="required" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="userSex" class="layui-form-label">性别</label>
                <div class="layui-input-inline">
                    <input type="text" id="userSex" name="userSex" th:placeholder="${user.getUserSex()}" required=""
                           lay-verify="required" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="userMobilePhone" class="layui-form-label">用户电话</label>
                <div class="layui-input-inline">
                    <input type="text" id="userMobilePhone" name="userMobilePhone" th:placeholder="${user.getUserMobilePhone()}" required=""
                           lay-verify="required" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="userQq" class="layui-form-label">用户QQ</label>
                <div class="layui-input-inline">
                    <input type="text" id="userQq" name="userQq" th:placeholder="${user.getUserQq()}" required=""
                           lay-verify="required" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="userEmail" class="layui-form-label">用户邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" id="userEmail" name="userEmail" th:placeholder="${user.getUserEmail()}" required=""
                           lay-verify="required" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="userCreateTime" class="layui-form-label">注册时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="userCreateTime" name="userCreateTime" th:placeholder="${#dates.format(user.getCreateTime(), 'yyyy-MM-dd HH:mm:ss')}" required=""
                           lay-verify="required" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="userUpdateTime" class="layui-form-label">更新时间</label>
                <div class="layui-input-inline">
                    <input type="text" id="userUpdateTime" name="userUpdateTime" th:placeholder="${#dates.format(user.getUpdateTime(), 'yyyy-MM-dd HH:mm:ss')}" required=""
                           lay-verify="required" autocomplete="off" class="layui-input" readonly>
                </div>
            </div>
        </form>
        <button  class="layui-btn layui-btn-sm layui-btn-primary" onclick="javascript:history.back()">
            <i class="layui-icon layui-icon-return"></i>返回
        </button>
    </div>
</div>
<script>layui.use(['form', 'layer'],
    function () {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;
    });</script>
</body>

</html>