<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>LGX-AMS</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>

    <link rel="stylesheet" href="/xadmin/css/font.css" th:href="@{/xadmin/css/font.css}">
    <link rel="stylesheet" href="/xadmin/css/xadmin.css" th:href="@{/xadmin/css/xadmin.css}">
    <script type="text/javascript" src="/xadmin/lib/layui/layui.js" charset="utf-8"
            th:src="@{/xadmin/lib/layui/layui.js}"></script>
    <script type="text/javascript" src="/xadmin/js/xadmin.js" th:src="@{/xadmin/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--></head>

<body>
<div class="layui-fluid">
    <div class="location" style="font-size:1.3em;">
        <strong>你现在所在的位置是:</strong>
        <span>档案整编页面 >> 信息修改</span>
    </div>
    <div class="layui-row">
        <form class="layui-form" method="POST" th:action="'/main/reorganizeFile/update?fileId='+${file.id}" enctype="multipart/form-data">
            <input type="text" style="visibility: hidden;" th:value="${session.loginUser.userId}" id="uid" name="uid"/>
            <div class="layui-form-item">
                <label for="fileName" class="layui-form-label"><span class="x-red">*</span>文件名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="fileName" name="fileName" th:value="${file.getFilename()}" required=""
                           lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="fileLabel" class="layui-form-label"><span class="x-red">*</span>标签</label>
                <div class="layui-input-inline">
                    <input type="text" id="fileLabel" name="fileLabel" th:value="${file.getFilelabel()}" required=""
                           lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
<!--            <div class="layui-form-item">-->
<!--                <label for="file" class="layui-form-label"><span class="x-red">*</span>文件</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="file" id="file" name="file" required="" autocomplete="off">-->
<!--                </div>-->
<!--                <div class="layui-form-mid layui-word-aux"><span class="x-red">*</span></div>-->
<!--            </div>-->
            <div class="layui-form-item layui-form-text">
                <label for="fileDescribe" class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <textarea id="fileDescribe" name="fileDescribe" class="layui-textarea" style="width:80%;">[[${file.getFiledescribe()}]]</textarea>
                </div>
            </div>
            <div class="layui-form-item">
<!--                <label for="L_repass" class="layui-form-label"/>-->
                <button class="layui-btn" lay-filter="add" lay-submit="submit">修改</button>
<!--                <button onclick="history.back()">返回</button>-->
            </div>
        </form>
        <button  class="layui-btn layui-btn-sm layui-btn-primary" onclick="window.location.href='http://'+window.location.host+'/main/reorganizeFile/list'">
            <i class="layui-icon layui-icon-return"></i>返回
        </button>
    </div>
</div>
<script>layui.use(['form', 'layer'],
    function () {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;
    });</script>
</body>

</html>